.singleColumnLeft {
    left: 10px;
}
.singleColumnRight {
    right: 10px;
}
.singleColumnSmall {
    width: 25%;
}
.singleColumnMedium {
    width: 50%;
}
.singleColumnLarge {
    width: 75%;
}

.mcm-singlecol-layout-right {
    justify-content: right;
}
.mcm-singlecol-layout-left {
    justify-content: left;
}
.mcm-singlecol-layout-center {
    justify-content: center;
}

.twoEqualColumns_Left {
    width: 49.75%;
    margin-right: 0.25%;
}

.twoEqualColumns_Right {
    width: 49.75%;
    margin-left: 0.25%;
}

.twoColumnsHeavyLeft_Left {
    width: 66.75%;
    margin-right: 0.25%;
}
.twoColumnsHeavyLeft_Right {
    width: 32.75%;
    margin-left: 0.25%;
}

.twoColumnsHeavyRight_Left {
    width: 32.75%;
    margin-right: 0.25%;
}
.twoColumnsHeavyRight_Right {
    width: 66.75%;
    margin-left: 0.25%;
}

.threeEqualColumns_Left {
    width: 32.75%;
    margin-right: 0.25%;
}
.threeEqualColumns_Middle {
    width: 32.5%;
    margin-inline: 0.25%;
}
.threeEqualColumns_Right {
    width: 33.75%;
    margin-left: 0.25%;
}

.threeColumnsHeavyLeft_Left {
    width: 49.75%;
    margin-right: 0.25%;
}
.threeColumnsHeavyLeft_Middle {
    width: 24.5%;
    margin-inline: 0.25%;
}
.threeColumnsHeavyLeft_Right {
    width: 24.75%;
    margin-left: 0.25%;
}

.threeColumnsHeavyMiddle_Left {
    width: 24.75%;
    margin-right: 0.25%;
}
.threeColumnsHeavyMiddle_Middle {
    width: 49.5%;
    margin-inline: 0.25%;
}
.threeColumnsHeavyMiddle_Right {
    width: 24.75%;
    margin-left: 0.25%;
}

.threeColumnsHeavyRight_Left {
    width: 24.75%;
    margin-right: 0.25%;
}
.threeColumnsHeavyRight_Middle {
    width: 24.5%;
    margin-inline: 0.25%;
}
.threeColumnsHeavyRight_Right {
    width: 49.75%;
    margin-left: 0.25%;
}

.columnContent {
    padding-inline: 10px;
}

.columnBorder {
    border: grey;
    border-style: solid;
    border-width: 0.5px;
}

.columnShadow {
    box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
}

.multiColumnErrorMessage {
    margin-bottom: 10px;
    color: #dc3545;
    text-align: center;
}

.multiColumnContainer {
    margin: 1.5625em 0;
}

.multiColumnParent {
    padding: 0;
    overflow: hidden;
    color: var(--text-normal);
    page-break-inside: avoid;

    border-radius: 0.1rem;

    display:flex; 
    flex-direction:row;
}

.multiColumnParentShadow {
    box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
}

.multiColumnRegionEndTag,
.multiColumnBreak,
.multiColumnSettings,
.multiColumnContent {
    opacity: 0;
}

.columnContent .multiColumnContent {
    opacity: 100;
}

.markdown-preview-section > .multiColumnContent, 
                            .multiColumnBreak, 
                            .multiColumnRegionEndTag,
                            .multiColumnSettings {
    height: 0px !important;
    overflow: hidden;
}

.MultiColumn_OriginalElement + .MultiColumn_ClonedElement {
    display: none;
}

.mcm-cm-preview {
    line-height: var(--lh);
    white-space: normal;
    word-break: keep-all;
    word-wrap: normal;
}

.cm-preview-code-block.preivew-mcm-start-block {
    height: 0pt !important; 
    padding: 0pt !important;
}