.rowC{
    display:flex; 
    flex-direction:row;
}

.twoEqualColumns_Left {
    width: 49.75%;
    margin-right: 0.25%;
}

.twoEqualColumns_Right {
    width: 49.75%;
    margin-left: 0.25%;
}

.twoColumnsHeavyLeft_Left {
    width: 66.75%;
    margin-right: 0.25%;
}
.twoColumnsHeavyLeft_Right {
    width: 32.75%;
    margin-left: 0.25%;
}

.twoColumnsHeavyRight_Left {
    width: 32.75%;
    margin-right: 0.25%;
}
.twoColumnsHeavyRight_Right {
    width: 66.75%;
    margin-left: 0.25%;
}

.threeEqualColumns_Left {
    width: 32.75%;
    margin-right: 0.25%;
}
.threeEqualColumns_Middle {
    width: 32.5%;
    margin-inline: 0.25%;
}
.threeEqualColumns_Right {
    width: 33.75%;
    margin-left: 0.25%;
}

.threColumnsHeavyLeft_Left {
    width: 49.75%;
    margin-right: 0.25%;
}
.threColumnsHeavyLeft_Middle {
    width: 24.5%;
    margin-inline: 0.25%;
}
.threColumnsHeavyLeft_Right {
    width: 24.75%;
    margin-left: 0.25%;
}

.threColumnsHeavyMiddle_Left {
    width: 24.75%;
    margin-right: 0.25%;
}
.threColumnsHeavyMiddle_Middle {
    width: 49.5%;
    margin-inline: 0.25%;
}
.threColumnsHeavyMiddle_Right {
    width: 24.75%;
    margin-left: 0.25%;
}

.threColumnsHeavyRight_Left {
    width: 24.75%;
    margin-right: 0.25%;
}
.threColumnsHeavyRight_Middle {
    width: 24.5%;
    margin-inline: 0.25%;
}
.threColumnsHeavyRight_Right {
    width: 49.75%;
    margin-left: 0.25%;
}

.columnContent {
    padding-inline: 10px;

    border: grey;
    border-style: solid;
    border-width: 0.5px;
}



.splitColumnErrorMessage {
    margin-bottom: 10px;
    color: #dc3545;
    text-align: center;
}

.splitColumnContainer {
    margin: 1.5625em 0;
}

.splitColumnParent {
    padding: 0;
    overflow: hidden;
    color: var(--text-normal);
    page-break-inside: avoid;

    border-radius: 0.1rem;
    box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
}